<h2>Login</h2>

<%= form_with(scope: :session, url: log_in_path) do |f| %>
 
<p>
  <%= f.label :email %><br/>
  <%= f.email_field :email_address %>
<p>
 
<p>
  <%= f.label :password %><br/>
  <%= f.password_field :password %>
<p>
 
<p>
  <%= f.submit "Log in" %>
<p>

<%= link_to "Sign up", sign_up_path %><br />
 
<% end %>